
@font-face {
    font-family: satoshi;
    src: url(../assets/fonts/Satoshi/Satoshi-Variable.ttf);
}
@font-face {
    font-family: bosch;
    src: url(../assets/fonts/Bosch/Bosch.otf);
}

* {
    margin: 0;
    font-family: bosch;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
    cursor: url(../assets/cursor/cursor2.cur), auto;
}

#messages {
    max-height: 200px;
    overflow-y: scroll;
}
