
@font-face {
    font-family: journey;
    src: url(../assets/fonts/Satoshi/Satoshi-Variable.ttf);
}
@font-face {
    font-family: bosch;
    src: url(../assets/fonts/Bosch/Bosch.otf);
}
@font-face {
    font-family: roastery;
    src: url(../assets/fonts/Roastery/CSRoastery-Regular-BF667b7384f3b0e.otf);
}
@font-face {
    font-family: journey;
    src: url(../assets/fonts/Journey/ss-journey.otf);
}

:root {
    --white: #FFF1E1;
    --grey: #D6D2CF;
    --black: #1C1D18;
    --green: #659D5F;
    --light-green: #8DC488;
    --beige: #8A806C;
    --light-beige: #a9a190;
}

/*----- Index -----*/


* {
    margin: 0;
    font-family: journey;
    padding: 0;
    font-size: 30px;
    font-weight: 900;
    cursor: inherit;
    box-sizing: inherit;
}

html {
    max-width: 100vw;
    box-sizing: border-box;
    height: 100vh;
    cursor: url("../assets/cursor/cursor2.cur"), auto;
}

h1 {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    margin-left: 30px;
    font-size: 35px;
    font-family: roastery;
    font-weight: 900;
    color: var(--white);
}

body {
    /*background: linear-gradient(#718355, #B5C99A);*/
    /* background: linear-gradient(#395886, #8AAEE0); */
    background-color: var(--white);
    height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
}
 
/*::-webkit-scrollbar {
    display: none;
} */

nav {
    display: flex;
    height: 8%;
    text-align: center;
    transition: all 0.5s;
    align-items: center;
    justify-content: space-between;
    background-image: url(../assets/images/image_nav4.png);
    background-size: cover;
    backdrop-filter: blur(14px);
    /* filter: brightness(0.4); */
    
    box-shadow: 0px 0px 20px #5b5b5b7b;
}


.searchBar {
    position: relative;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: var(--white);
    transition: all 0.2s;
    padding-left: 15px;
    padding-right: 50px;
    color: var(--beige);
    right: -15px;
    opacity: 0;
}

.searchBar::placeholder {
    color: var(--beige);
}

.searchBar:focus {
    transition: all 0.2s;
    outline: none;
    width: 400px;
    opacity: 1;
}

.searchIcon {
    position: relative;
    text-align: center;
    left: -35px;
    color: var(--white);
    background: none;
    outline: none;
    border: none;
    transition: all 0.2s;
    cursor: url("../assets/cursor/cursor.cur"), auto;
    pointer-events: none;
}

.searchIcon i {
    pointer-events: none;
}

.searchIcon:hover {
    scale: 1.1;
    transition: all 0.2s;
}

.searchIcon:hover .searchBar {
    transition: all 0.2s;
    outline: none;
    width: 400px;
    opacity: 1;
}

.searchIcon:hover {
    color: var(--beige);
    transition: all 0.2s;
}

.searchBar:hover {
    transition: all 0.2s;
    outline: none;
    width: 400px;
    opacity: 1;
}

.searchBar:hover + .searchIcon {
    color: var(--beige);
    transition: all 0.5s;
    scale: 1.1;
}

.searchBar:focus + .searchIcon {
    color: var(--beige);
    transition: all 0.2s;
    pointer-events: all;
}

ul {
    overflow: hidden;
    padding: 0;
    margin: 0;
    animation: 0.5s ease-out 0s 1 slideInFromTop;
    position: center;
    max-height: 100%;
}

li {
    display: inline-block;
    padding: 2%;
    text-align: center;
}

a, button {
    cursor: url("../assets/cursor/cursor.cur"), auto;
}

a {
    text-decoration: none;
}

.photoProfile {
    width: 125px;
    height: 125px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #2a2a2a;
}

/* View Profile */




.userText {
    color: var(--beige);
    pointer-events: none;
}



.navButton {
    position: relative;
    display: flex;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all 0.2s;
}

.navButtonAfter {
    opacity: 0;
    transition: all 0.2s;
}

.navButton:hover {
    background-color: #4971ad;
    transform: scale(1.1);
    transition: all 0.3s;
}

.right-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    color: var(--white);
}

.right-nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-nav a i {
    text-decoration: none;
    color: var(--white);
}

.right-nav i {
    cursor: url("../assets/cursor/cursor.cur"), auto;
}


.bars {
    color: var(--beige);
    scale: 1.1;
}

/* Side Menu */

.filter {
    color: var(--beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* position: sticky; */
    /* height: 100%; */
    width: 350px;
    margin: 10px;
    overflow: scroll;
    border: 3px solid var(--light-green);
    border-radius: 12px;
    transition: all 0.3s;
}

.filter::-webkit-scrollbar {
    display: none;
}

.filter div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.filterTop {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.alignCenter {
    align-items: center;
}

h3 {
    font-size: 45px;
    text-decoration: underline;
}

.filterTop div h5 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mp {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 100%;
    width: 400px;
}

.sideMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e1e1e155; 
    backdrop-filter: blur(15px);
    /* box-shadow: 0px 0px 12px #F0F3FA; */
    transition: all 0.3s;
}

.sideMenuAfter {
    z-index: 20;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 98%;
    width: 15%;
    top: 1%;
    left: 10px;
    background-color: #e1e1e155; 
    backdrop-filter: blur(15px);
    /* box-shadow: 0px 0px 12px #F0F3FA; */
    border-radius: 15px;
    transition: all 0.3s;
}


.sideMenuTitle {
    margin-top: 10px;
    font-family: journey;
    font-size: 50px;
    color: var(--beige);
}

.sideMenuSeparator {
    height: 1px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f0f3fa7a;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 80px;
    border-radius: 15px;
    transition: all 0.3s;
    overflow-y: hidden;
}

.categories:hover {
    background-color: #2a2a2a91;
    transition: all 0.4s;
}

.categoriesAfter {
    height: 310px;
    background: #2a2a2a91;
    transition: all 0.4s;
}

.sideMenuSubtitle {
    position: relative;
    font-family: journey;
    color: var(--beige);
    pointer-events: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.category {
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--beige);
    font-family: journey;
    font-size: 25px;
}

.category::after {
    position: relative;
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    top: 3px;
    background-color: var(--beige);
    align-self: center;
    text-align: center;
    transform: scaleX(0);
    transition: all 0.3s;
    border-radius: 20px;
}

.category:hover::after {
    transform: scaleX(1);
    transition: all 0.3s;
}


.main {
    display: flex;
    justify-content: space-between;
    height: 92%;
    /*background-color: rgb(102, 102, 102);*/
}

.mainWrapper {
    max-height: 100%; 
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: scroll;
    object-fit: contain;
    width: 50%
}

.mainWrapper::-webkit-scrollbar {
    display: none;
}

.topic {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topic-content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.topic-content-top label {
    font-size: 40px;
    text-decoration: underline;
}

.topic-content-top p {
    font-size: 25px;
    text-wrap: wrap;
}

.topic-content-bot {
    display: flex;
    justify-content: space-between;
    min-height: 100px;
    text-wrap: wrap;
}

.topic-content-bot p {
    text-wrap: wrap;
}


.topic-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--beige);
    /* background: rgba(253, 239, 234, 0.5); */
    background-color: #fffaf8;
    border-radius: 10px;

    border: 2px solid var(--beige);
    /* box-shadow: -4px -4px 8px #f0f3fa34;
    filter: drop-shadow(4px 4px 4px #3e3e3e75);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px); */
}

.topicInfo {
    display: flex;
    justify-content: space-between;
    background-color: #f0f3fa00;
    margin-bottom: 40px;
    border-radius: 5px;
    width: 100%;
}

.topicInfo div {
    display: flex;
}

.checkmark {
    align-self: flex-end;
    justify-self: end;
}

.like {
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: var(--beige);
    border-radius: 5px;
    transition: all 0.2s;
}

@keyframes heartscale {
    0% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes thumbscale {
    0% {
        transform: scale(1) rotate(-10deg);
    }
    
    50% {
        transform: scale(1.2) rotate(-10deg);
    }

    100% {
        transform: scale(1) rotate(-10deg);
    }
}

.heart {
    right: 0;
    color: #fff2ee;
    /*color: #ff5050;*/
    margin-right: 15px;
    pointer-events: none;
    transition: all 0.2s;
}

.heartAfter {
    color: #ff5050;
    animation: heartscale 0.3s;
}

.like:hover {
    box-shadow: 0px 0px 12px #fff2ee, inset 0px 0px 12px #fff2ee;
    scale: 1.05;
}

.like:hover .heart {
    color: #ff5050;
    filter: drop-shadow(0px 0px 4px #ff5050);
    transform: scale(0.9);
    transition: all 0.2s;
}

.likeAmount {
    pointer-events: none;
    font-size: 20px;
    color: #fff2ee;
}


.dislike {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: var(--beige);
    border-radius: 5px;
    transition: all 0.2s;
}

.thumbDown {
    right: 0;
    color: #fff2ee;
    /*color: #ff5050;*/
    margin-right: 15px;
    pointer-events: none;
    transition: all 0.2s;
}

.thumbDownAfter {
    color: #383838;
    animation: thumbscale 0.3s;
}

.dislike:hover .thumbDown {
    color: #383838;
    filter: drop-shadow(0px 0px 4px #383838);
    transition: all 0.2s;
    transform: rotate(-10deg) scale(1.01);
}

.dislike:hover {
    box-shadow: 0px 0px 12px #fff2ee, inset 0px 0px 12px #fff2ee;
    transition: all 0.2s;
    scale: 1.05;
}

.dislikeAmount {
    pointer-events: none;
    font-size: 20px;
    color: #fff2ee;
}


.comments {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 5px 10px;
    background-color: var(--beige);
    border-radius: 5px;
    transition: all 0.2s;
}

.commentIcon {
    right: 0;
    color: #fff2ee;
    /*color: #ff5050;*/
    margin-right: 15px;
    pointer-events: none;
    transition: all 0.2s;
    transform: scale(0.8);
}

.commentIconAfter {
    color: #ff5050;
    animation: heartscale 0.3s;
}

.comments:hover .commentIcon {
    color: var(--grey);
    filter: drop-shadow(0px 0px 4px var(--grey));
    transition: all 0.2s;
}

.comments:hover {
    box-shadow: 0px 0px 12px #fff2ee, inset 0px 0px 12px #fff2ee;
    scale: 1.05;
}

.commentsAmount {
    pointer-events: none;
    font-size: 20px;
    color: #fff2ee;
}

#messages {
    /* max-height: 200px; */
    overflow-y: scroll;
}


.view-profil-card {
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-right: 15px;
    height: 300px;
    width: 250px;
    background-color: var(--beige);
    border-radius: 15px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    color: var(--white);
}

.view-profil-card::after {
    position: relative;
    top: 0;
    content: "";
    height: 10px;
    width: 10px;
    background-color: red;
    transform: rotate(45deg);

}

.view-profil-card div h5 {
    padding: 10px;
}

.profile-bottom {
    display: flex;
    justify-content: end;
    padding: 0 20px 15px 0;
    width: 100%;
}

.view-profil-card a {
    pointer-events: all;
    text-decoration: none;
    justify-content: end;
    color: var(--white);
}

.view-profil-card:focus {
    opacity: 1;
    pointer-events: all;
    transition: all 0.3s;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.hider {
    display: flex;
    justify-self: end;
    align-items: center;
    height: 100px;
    width: 330px;
    border-radius: 12px;
    border: 3px solid var(--light-green);
    transition: all 0.3s;
    margin-bottom: 25px;
    overflow-y: hidden;
    cursor: url("../assets/cursor/cursor.cur"), auto;
}

.hider:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    background-color: var(--light-green);
    scale: 1.01;
    transition: all 0.5s;
}

.hider:hover .messageText {
    color: var(--white);
}

.hider:hover .envelope {
    color: var(--white);
}

.hiderAfter {
    cursor: url("../assets/cursor/cursor2.cur"), auto;
    flex-direction: column;
    height: 700px;
    transition: all 0.3s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.hiderAfter:hover {
    background-color: #ffffff00;
    scale: 1;
    transition: all 0.5s;
}

.hiderAfter:hover .messageText {
    color: var(--beige);
}

.hiderAfter:hover .envelope {
    color: var(--beige);
}

.closeButtonDiv {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    display: flex;
    justify-content: center;
    opacity: 0;
    text-align: center;
    height: 40px;
    width: 100%;
    
    transition: all 0.3s;
    display: none;
}

.closeButtonDivAfter {
    opacity: 1;
    padding: 5px;
    border-radius: 16px;
    border: 2px solid var(--beige);

    cursor: url("../assets/cursor/cursor.cur"), auto;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.7;
}

.closeButtonDivAfter i {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    transition: all 0.7;
}

.closeButtonDivAfter:hover {
    background: var(--beige);
    transition: all 0.7;
}

.closeButtonDivAfter:hover .cross {
    color: var(--white);
    transition: all 0.7;
}

.cross {
    color: var(--beige);
}

.closeButtonDivAfter:hover .cross {
    filter: drop-shadow(0px 0px 16px #fff2ee);
}

.closeDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
    width: 95%;
}

.closeHiderAfter:hover {
    background-color: #8AAEE0;
    transition: all 0.3s;
}

.topMessage {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.topMessageAfter {
    height: 15%;
    transition: all 0.3s;
}

.envelope {
    opacity: 1;
    color: var(--beige);
    font-size: 50px;
    margin-left: 30px;
    margin-right: 10px;
    transition: all 0.5s;
}

.envelopeAfter {
    transition: all 0.5s;
}

.messageText {
    transition: all 0.5s;
    color: var(--beige);
}

.messageTextAfter {
    transition: all 0.5s;
}

.privateMessageWrapper {
    color: var(--beige);
    display: none;
    width: 100%;
    height: 75%;
    overflow-y: scroll;
    /* row-gap: 15px; */
    /* height: inherit; */
    object-fit: contain;
    transition: all 0.3s;
}



.privateMessageWrapper::-webkit-scrollbar {
    display: none;
}

.privateMessageWrapperAfter {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
}

.userContainer {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 10px;
}

.privateMessage {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    width: 75%;
    height: 100%;
    border-radius: 10px;
    /* background-color: #FBC5B3; */
    justify-self: center;
    transition: all 0.4s;
    padding: 10px;
    align-items: center;

    background-color: var(--beige);
}

.privateMessage:hover {
    background: var(--light-beige)
}

.privateMessage p {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--white);
}

.userPicture {
    cursor: url("../assets/cursor/cursor.cur"), auto;
    height: 35px;
    width: 35px;
    border-radius: 30px;
    object-fit: cover;
    scale: 1.3;
    border: none;
    margin-right: 15px;
    overflow: hidden;
}

.photoEditProfile {
    width: 225px;
    height: 225px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid #2a2a2a;
}

.userContainer button {
    background: var(--beige);
    height: 100%;
    border-radius: 10px;
    color: var(--white);
    padding: 10px 15px 10px 15px;
    border: none;
    outline: none;
    transition: all 0.3s;
}

.userContainer button:hover {
    background-color: var(--light-beige);
    transition: all 0.3s;
}

.userContainer button i {
    cursor: url("../assets/cursor/cursor.cur"), auto;
}

.categoryInput {
    background: none;
    outline: none;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    overflow-y: hidden;
    color: var(--beige);
    border-radius: 8px;
    border: 3px solid var(--light-green);
    transition: all 0.3s;
}

.categoryInput:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
    color: var(--white);
    background: var(--light-green);
    scale: 1.01;
    transition: all 0.3s;
}

.newTopicButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 12px;
    transition: all 0.3s;
}

.newTopicButton a {
    justify-content: center;
    align-items: center;
    text-decoration: none;
    display: flex;
    color: var(--beige);
    background: none;
    transition: all 0.3s;
}

.newTopicButton:hover {
    background-color: var(--light-green);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    transition: all 0.3s;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.newTopicButton:hover a {
    color: var(--white);
    transition: all 0.3s;
}

.newTopicButton a i {
    position: relative;
    margin-right: 15px;
    bottom: 2px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 2px solid var(--light-green);
}

.filterBottom {
    display: flex;
    width: 87.5%;
    padding: 10px;
    color: var(--beige);
    text-decoration: none;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;
}

.filterBottom:hover {
    background-color: var(--light-green);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.filterBottom a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: none;
    color: var(--beige);
}

.filterBottom a i {
    margin-right: 20px;
}

.privateMessageAfter {
    display: none;
    opacity: 0;
    transition: all 0.4s;
}


.privateMessageCard {
    display: none;
    transition: all 0.4s;
}

.privateMessageCardAfter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    width: 100%;
    opacity: 1;
    transition: all 0.4s;
}

.privateMessageCardFlexBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--beige);
    width: 95%;
    height: 97%;
    border-radius: 10px;
}

.privateMessageCardTopBox {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.arrow {
    scale: 0.8;
    color: var(--white);
    pointer-events: all;
    transition: all 0.3s;
    margin-left: 15px;
    margin-right: 20px;
    cursor: url("../assets/cursor/cursor.cur"), auto;
}

.arrow:hover {
    scale: 1;
    transition: all 0.3s;
}

.privateMessageUsername {
    color: var(--white);
    text-decoration: none;
    font-size: 30px;
}

.privateMessageCardMiddleBox {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: start;
    overflow-y: scroll;
}

.privateMessageCardMiddleBox::-webkit-scrollbar {
    display: none;
}

.privateMessageCardMiddleBox p {
    margin: 10px;
    font-size: 25px;
    color: var(--white);
    overflow-wrap: break-word;
    width: 275px;
}

.privateMessageCardBottomBox {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.messageInput {
    border: none;
    display: block;
    width: 70%;
    height: 35px;
    border-radius: 20px;
    bottom: 10px;
    left: 5px;
    font-size: 20px;
    padding-left: 10px;
    border: 2px solid #4971ad00;
    transition: all 0.3s;
}

.messageInput:focus {
    outline: none;
    box-shadow: 0px 0px 20px #fff2ee;
}

.messageInput:hover {
    box-shadow: 0px 0px 20px #fff2ee;
    transition: all 0.3s;
}

.sendButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 39px;
    width: 50px;
    border: 3px solid #fff2ee;
    border-radius: 20px;
    transition: all 0.2s;
}

.sendButton:hover {
    transition: all 0.2s;
    box-shadow: 0px 0px 20px #fff2ee, inset 0px 0px 12px #fff2ee;
}

.plane {
    position: relative;
    scale: 0.5;
    color: var(--white);
}



/*----- Connexion -----*/


.connexionBody {
    display: grid;
    height: 100%;
}


.connexionCard {
    position: relative;
    display: flex;
    justify-content: center;
    place-self: center;
    align-items: center;
    width: 50%;
    height: 60%;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 20px;
}

.connexionForm {
    width: 100%;
}

.conexionPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    /*background-color: aquamarine;*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.connexionSeparator {
    display: none;
    height: 2px;
    width: 90%;
    background-color: var(--beige);
}

.conexionPart div {
    margin-top: 20px;
    margin-bottom: 20px;
}

.registerPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    /*background-color: aquamarine;*/
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.registerPart div {
    margin-top: 4%;
    margin-bottom: 4%;
}

.connexionText {
    text-align: center;
    font-size: 40px;
    color: var(--beige);
}

.registerText {
    text-align: center;
    font-size: 40px;
    color: var(--beige);
}

.connexionInputDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
}

.registerInputDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: center;
    align-items: center;
}

.connexionInput {
    width: 60%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    color: var(--beige);
    font-size: 20px;
    border: 2px solid #39588600 ;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.connexionInput::placeholder {
    color: var(--beige);
}

.connexionInput:hover {
    border: 2px solid var(--beige) ;
    transition: all 0.3s;
}

.connexionInput:focus {
    outline: none;
    border: none;
    caret-color: var(--beige);
    border: 2px solid var(--beige) ;
    transition: all 0.3s;
}

.registerInput {
    width: 60%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    color: var(--beige);
    font-size: 20px;
    border: 2px solid #39588600 ;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}

.registerInput::placeholder {
    color: var(--beige);
}

.registerInput:hover {
    border: 2px solid var(--beige) ;
    transition: all 0.3s;
}

.registerInput:focus {
    outline: none;
    border: none;
    caret-color: var(--beige);
    border: 2px solid var(--beige) ;
    transition: all 0.3s;
}

.connexionSendButton {
    width: 200px;
    height: 50px;
    background-color: var(--beige);
    color: #fff2ee;
    border-radius: 25px;
    transition: all 0.3s;
    align-self: center;
    border: none;
}

.connexionSendButton:hover {
    background-color: var(--light-beige);
    transition: all 0.3s;
}

.registerSendButton {
    width: 200px;
    height: 50px;
    background-color: var(--beige);
    color: #fff2ee;
    border-radius: 25px;
    transition: all 0.3s;
    align-self: center;
    border: none;
}

.registerSendButton:hover {
    background-color: var(--light-beige);
    transition: all 0.3s;
}

.connextionSendText {
    top: 20%;
    position: relative;
    color: #fff2ee;
    text-align: center;
    pointer-events: none;
}

.registerSendText {
    top: 20%;
    position: relative;
    color: #fff2ee;
    text-align: center;
    pointer-events: none;
}

.connexionHider {
    display: flex;
    position: absolute;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    background-color: var(--beige);
    border-radius: 20px;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: all 0.4s;
}

.connexionHiderAfter {
    left: 50%;
    transition: all 0.4s;
}

.hiderTextContainer {
    position: absolute;
    display: flex;
    top: 150px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    /* background-color: red; */
    overflow-y: hidden;
}

.hiderText {
    position: absolute;
    text-align: center;
    color: #fff2ee;
    font-size: 40px;
    transition: all 0.4s;
}

#hiderText1 {
    transform: translateY(-50px);
    transition: all 0.4s;
}

#hideText1After {
    transform: translateY(0px);
    transition: all 0.4s;
}

#hiderText2 {
    transform: translateY(0px);
    transition: all 0.4s;
}

#hiderText2After {
    transform: translateY(50px);
    transition: all 0.3s;
}

.connexionButton {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 200px;
    background-color: #fff2ee;
    bottom: -75%;
    border-radius: 25px;
    transition: all 0.2s;
}

.connexionButton:hover {
    background-color: var(--grey);
    transition: all 0.2s;
}

.buttonText {
    color: var(--beige);
}


/* Topic Template */

.alinea {
    padding-left: 60px;
}

.topicUser {
    display: flex;
    align-items: center;
    margin-bottom: 25px
}

.topicUser p {
    color: var(--beige);
}

.topicUserPictureCointainer {
    height: 50px;
    width: 50px;
    border-radius: 30px;
    border: 2px solid salmon;
    margin-right: 15px;
    object-fit: cover;
    overflow: hidden;
}

.topicUserPicture {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.topicUser i {
    color: var(--beige);
}


.topicTitle {
    display: flex;
    margin-bottom: 25px;
}

.topicTitle p {
    font-size: 50px;
    color: var(--beige);
}


.topicContent {
    display: flex;
    margin-bottom: 30px;
    border: 2px solid var(--beige);
    border-radius: 8px;
    padding: 15px;
}

.topicContent p {
    color: var(--beige);
}

.topicWriteAnswer {
    display: flex;
    justify-content: space-between;
}

.topicWriteAnswerAfter {
    justify-content: space-between;
}

.writeAnwerInput {
    width: 35%;
    height: 50px;
    border-radius: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
    border: 2px solid var(--beige);
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
    color: var(--beige);
}

.writeAnwerInput:hover {
    box-shadow: 0px 0px 12px #fff2ee;
}

.writeAnwerInput::placeholder {
    color: var(--beige);
}

.writeAnwerInput:focus {
    width: 92%;
    outline: none;
    border: 2px solid var(--beige);
    transition: all 0.3s;
    box-shadow: 0px 0px 12px #fff2ee;
}

.sendComment {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: var(--beige);
    transition: all 0.3s;
}

.sendComment i {
    color: #fff2ee;
    scale: 0.7;
}

.sendComment p {
    color: #FFA084;
}

.sendCommentAfter {
    opacity: 1;
}

.sendCommentAfter:hover {
    box-shadow: 0px 0px 12px #fff2ee;
}

.topicAnswers {
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.topicAnswers::-webkit-scrollbar {
    display: none;
}

.topicAnswerDiv {
    background-color: var(--beige);
    margin-bottom: 15px;
    padding: 15px;
    margin: 15px 0 15px 0;
    border-radius: 15px;
}

.topicAnswerDiv p {
    color: var(--white);
}

.submitSendMessage {
    background: none;
    color: var(--beige);
    border: none;
    outline: none;
}



/* New Topic Page */


.newTopicPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.newTopic {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    height: 65%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    color: var(--white);
}

.newTopic h6 {
    font-family: roastery;
    margin-top: 25px;
    font-family: 30px;
    color: var(--beige);
}

.newTopic form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newTopic form select {
    border-radius: 8px;
    background: none;
    border: 2px solid var(--light-green);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    outline: none;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    width: 70%;
    color: var(--beige);

    display: inline-block;
    font: inherit;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image:
      linear-gradient(45deg, transparent 50%, var(--white) 50%),
      linear-gradient(135deg, var(--white) 50%, transparent 50%),
      linear-gradient(to right, var(--light-green), var(--light-green));
    background-position:
      calc(99% - 20px) calc(25px + 2px),
      calc(99% - 15px) calc(25px + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      12% 100%;
    background-repeat: no-repeat;
}

.newTopic form select:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, var(--light-green), var(--light-green));
    background-position:
      calc(99% - 15px) calc(25px + 2px),
      calc(99% - 20px) calc(25px + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      12% 100%;
    background-repeat: no-repeat;
    border-color: var(--light-green);
    outline: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.newTopic form input {
    width: 70%;
    height: 40px;
    border-radius: 25px;
    border: none;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    color: var(--beige);
    font-size: 20px;
    border: 2px solid var(--light-green) ;
    transition: all 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
    background: none;
}

.newTopic form input:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.newTopic form input:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.newTopic form .submit {
    padding: none;
    margin-top: 30px;
    color: var(--beige);
}

.newTopic form .submit:hover {
    color: var(--white);
    background: var(--light-green);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.answer-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.answer-info div {
    display: flex;
    align-items: center;
}

/* Edit Profile */

.edit-profile-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 90%;
    background-color: var(--white);
    box-shadow: 0px 0px 12px var(--black);
    border-radius: 20px;
    overflow-y: scroll;
}

.edit-profile-card::-webkit-scrollbar {
    display: none;
}

.username-form {
    width: 95%;
}

.change-name {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--beige);
    border-radius: 15px;
    margin-top: 30px;
}

.change-name input {
    border-radius: 15px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
}

.flex-pictures {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.date {
    font-size: 15px;
    padding-left: 10px;
    position: relative;
    top: 3px;
}

.answer-info div form button {
    background: none;
    outline: none;
    border: none;
    margin-right: 5px;
}

.answer-info div form button i {
    color: inherit;
    font-size: 35px;
    color: var(--white);
    cursor: url("../assets/cursor/cursor.cur"), auto;
    transition: all 0.3s;
}

.answer-info div form button i:hover {
    scale: 1.05;
    transition: all 0.3s;
}

.userInfoPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.userInfo {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    backdrop-filter: blur(7px);
    height: 65%;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    color: var(--beige);
    overflow: scroll;
}

.userInfo::-webkit-scrollbar {
    display: none;
}

.userNameAndPic {
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin: 10px;
}

.userNameAndPic img {
    height: 65px;
    width: 65px;
    border-radius: 30px;
    object-fit: cover;
    scale: 1.3;
    border: none;
    overflow: hidden;
    margin-right: 25px;
}

.userNameAndPic p {
    font-size: 45px;
}

.viewUserInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85%;
}

.viewUserInfo p {
    padding: 10px;
}

.viewUserInfo hr {
    border: 1px solid var(--beige);
}

.userAnswers {
    max-height: 200px;
    overflow: scroll;
}

.userAnswers::-webkit-scrollbar {
    display: none;
}








@media screen and (max-width: 1100px) {
    .topic {
        max-width: 1100px;
        min-width: 0px;
    }

    .filter {
        display: none;
    }
    
    .mp {
        display: none;
    }

    .main { 
        justify-content: center; 
    }

    .mainWrapper {
        width: 95%;
    }
} 

@media screen and (max-width: 1650px) {
    .writeAnwerInput {
        width: 264.13px;
    }

    .writeAnwerInput:focus {
        width: 85%;
    }

}

@media screen and (max-width: 1100px) {
    .connexionCard {
        width: 80%;
        height: 80%;
        flex-direction: column;
    }

    .connexionHider {
        /* display: none; */
    }

    .conexionPart {
        height: 100%;
    }

    .registerPart {
        height: 100%;
    }


    .connexionSeparator {
        display: block;
    }

    .connexionForm {
        height: 100%;
    }

    .connexionHider {
        height: 50%;
        width: 100%;
        top: 0;
    }

    .connexionHiderAfter {
        left: 0;
        top: 50%;
    }
}


