<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="serv/css/style.css">
    <script src="https://kit.fontawesome.com/ea8060e81f.js" crossorigin="anonymous"></script>
    
    <title>Forum</title>

</head>

<body>



    <nav id="head">
        
        <div>
            <a href="/"><h1>Y-NOT</h1></a>
        </div>

        <div class="right-nav">
            <div class="search">
                <form action="/submit_search" method="post">
                    <input type="search" class="searchBar" placeholder="Search for ..." name="search">
                    <button type="submit" class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                {{ if ne .User.Username "" }}
                    <div class="showProfileInfo">
                        <img src="{{ .User.ProfilePicture }}" class="userPicture"/>
                    </div>
                {{ else }}
                    <a href="/connexion"><i class="fa-solid fa-user"></i></a>
                {{ end }}
                
            </div>
        </div>

    </nav>

    <div class="main">
        <div class="filter">
            <div class="fliterTop">
                <div class="alignCenter"><h3>FILTER</h3></div>
                <div>
                    <form action="/submit_chose_category" method="post">
                        <input hidden type="text" name="category" class="category" value="">
                        <input type="submit" value="All Categories" class="categoryInput">
                    </form>
                    {{ range .Categories }}
                        <form action="/submit_chose_category" method="post">
                            <input hidden type="text" name="category" class="category" value="{{ .Id }}">
                            <input type="submit"  value="{{ .Name }}" class="categoryInput">
                        </form>
                    {{ end }}
                </div>
                <hr/>
                <div class="newTopicButton">
                    <a href="/new-topic">
                        <i class="fa-solid fa-plus"></i> 
                        <p>Create a new Topic</p>
                    </a>
                </div>
            </div>
            <div class="filterBottom">
                {{ if ne .User.Id 0 }}
                    <a href="/Logout">
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <p>Logout</p>
                    </a>
                {{ else }}
                    <a href="/connexion">
                        <i class="fa-solid fa-right-to-bracket"></i>
                        <p>Sign up</p>
                    </a>
                {{ end }}
                
            </div>
        </div>

        <div class="mainWrapper">

            {{ if ne .CurrentSearch "" }}
            <div class="research">
                <p> Result for {{ .CurrentSearch }} </p>
                
                <form action="/submit_reset_search" method="post">
                    <input type="submit" value="reset"> 
                </form>

            </div>
            {{ end }}
            {{ if ne .Topic.Id 0 }}
                {{ template "topictmpl" . }}
            {{ else }}
                {{ template "topicstmpl" . }}
            {{ end }}
        
        </div>
        <div class="mp">
            
            <div tabindex="-1" class="view-profil-card">
                <div>
                    <h5>Profile</h5>
                </div>
                <div class="profile-info">
                    <p>{{ .User.Username }}</p>
                    <p>{{ .User.Email }}</p>
                    <p>{{ .User.CreatedAt }}</p>
                </div>
                <div class="profile-bottom">
                    <a href="edit_profil"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
            </div>

            <div class="hider">
                <div class="topMessage">
                    <i class="fa-regular fa-envelope envelope"></i>
                    <h1 class="messageText">Messages</h1>
                </div>

                <script> 
                    
                </script>
                
                <div class="privateMessageWrapper">
                    <input id="searchInput" type="text" placeholder="Search Username ..." class="searchInputName" onkeyup="filterUsers()">
                    <br>
                    {{ range .Users }}
                        <form id="userForm"> 
                            <input hidden type="text" name="user" class="category" value="{{ .Username }}">
                        </form>

                        <div class="userContainer">
                            <div class="privateMessage" id="{{ .Id }}">
                                <img src="{{ .ProfilePicture }}" alt="" class="userPicture">
                                <p>{{ .Username }}</p>
                            </div>
                            <form action="/submit_search_user" method="post">
                                <input hidden type="text" name="user" class="category" value="{{ .Id }}">
                                <button type="submit" id="{{ .Id }}"><i class="fa-solid fa-id-card-clip"></i></button>
                            </form>
                        </div>
                    {{ end }}
                    <br>
                </div>

                {{ range .Users }}
                    <div class="privateMessageCard" id="{{ .Id }}">

                        <div class="privateMessageCardFlexBox">

                            <div class="privateMessageCardTopBox">
                                <i class="fa-solid fa-arrow-left arrow" id="{{ .Id }}"></i>
                                <h3 class="privateMessageUsername"> {{ .Username }} </h3>
                            </div>
    
                            <div class="privateMessageCardMiddleBox" id="privateMessagesScroll-{{ .Id }}">
                                <div id="messages-{{ .Id }}">
                                    {{ range .Messages }}
                                        <p class="privateChatMessages">{{ .Sender.Username }} : {{ .Content }}</p>
                                    {{ end }}
                                </div>
                            </div>
    
                            <div class="privateMessageCardBottomBox">
                                <input type="text" id="input-{{ .Id }}" placeholder="Type a message..." class="messageInput" onkeypress="specialChar(event, id); return false;">
                                <div class="sendButton" onclick="sendPrivateMessage('{{ .Id }}')">
                                    <i class="fa-solid fa-paper-plane plane"></i>
                                </div>
                            </div>

                        </div>

                    </div>
                {{ end }}

                <div class="closeDiv">
                    <div class="closeButtonDiv">
                        <i class="fa-solid fa-xmark cross"></i>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script> 
        function specialChar(event, id){
            var keyCode = event.which ? event.which : event.keyCode;
            var touche = String.fromCharCode(keyCode);
            var champ = document.getElementById(id);
            var caracteres = "abcdeéèfghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_-?!.;,êî^ëï<>%$@ ";
            if(caracteres.indexOf(touche) >= 0) {
                champ.value += touche;
            }
        }

        function filterUsers() {
            let input = document.getElementById('searchInput');
            let filter = input.value.toUpperCase();
            let form = document.getElementById('userForm');
            let buttons = document.getElementsByClassName('userContainer');

            for (let i = 0; i < buttons.length; i++) {
                let txtValue = buttons[i].textContent || buttons[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    buttons[i].style.display = "";
                } else {
                    buttons[i].style.display = "none";
                }
            }
        }
    </script>


    <script src="serv/js/websocket.js"></script>
    <script type="module" src="serv/js/style.js"></script>


</body>

</html>