<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="serv/css/style.css">
    <script src="https://kit.fontawesome.com/ea8060e81f.js" crossorigin="anonymous"></script>
    
    <title>Forum</title>

</head>

<body>



    <nav id="head">

        <div>
            <a href="/"><h1>Y-NOT</h1></a>
        </div>

        <div class="right-nav">
            <div class="search">
                <form action="/submit_search" method="post">
                    <input type="search" class="searchBar" placeholder="Search for ..." name="search">
                    <button type="submit" class="searchIcon"><i class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
            <div>
                {{ if ne .User.Username "" }}
                    <a href="/view_profil">
                        <img src="{{ .User.ProfilePicture }}" class="userPicture"/>
                    </a>
                {{ else }}
                    <a href="/connexion"><i class="fa-solid fa-user"></i></a>
                {{ end }}
                
            </div>
        </div>

    </nav>

    <div class="main">
        <div class="filter">
            <div><h3>FORUM</h3></div>
            <div>
                <form action="/submit_chose_category" method="post">
                    <input hidden type="text" name="category" class="category" value="">
                    <input type="submit" value="All Categories">
                </form>
                {{ range .Categories }}
                    <form action="/submit_chose_category" method="post">
                        <input hidden type="text" name="category" class="category" value="{{ .Id }}">
                        <input type="submit"  value="{{ .Name }}">
                    </form>
                {{ end }}
            </div>
        </div>

        <div class="mainWrapper">

            {{ if ne .CurrentSearch "" }}
                <h2> current search = "{{ .CurrentSearch }}" 
                <form action="/submit_reset_search" method="post">
                    <input type="submit" value="reset"> 
                </form>
                </h2>
            {{ end }}
            {{ if ne .Topic.Id 0 }}
                {{ template "topictmpl" . }}
            {{ else }}
                {{ template "topicstmpl" . }}
            {{ end }}
        
        </div>
        <div class="mp">
            
            <div class="hider">
                <div class="topMessage">
                    <i class="fa-regular fa-envelope envelope"></i>
                    <h1 class="messageText">Messages</h1>
                </div>
                
                <div class="privateMessageWrapper">
                    {{ range .Users }}
                        <div class="userContainer">
                            <div class="privateMessage" id="{{ .Id }}">
                                <img src="{{ .ProfilePicture }}" alt="" class="userPicture">
                                <p>{{ .Username }}</p>
                            </div>
                            <form action="/submit_search_user" method="post">
                                <input hidden type="text" name="user" class="category" value="{{ .Id }}">
                                <button type="submit" id="{{ .Id }}"><i class="fa-solid fa-id-card-clip"></i></button>
                            </form>
                        </div>
                    {{ end }}
                    <br>
                </div>

                {{ range .Users }}
                    <div class="privateMessageCard" id="{{ .Id }}">

                        <div class="privateMessageCardFlexBox">

                            <div class="privateMessageCardTopBox">
                                <i class="fa-solid fa-arrow-left arrow" id="{{ .Id }}"></i>
                                <h3 class="privateMessageUsername"> {{ .Username }} </h3>
                            </div>
    
                            <div class="privateMessageCardMiddleBox" id="privateMessagesScroll-{{ .Id }}">
                                <div id="messages-{{ .Id }}">
                                    {{ range .Messages }}
                                        <p class="privateChatMessages">{{ .Sender.Username }} : {{ .Content }}</p>
                                    {{ end }}
                                </div>
                            </div>
    
                            <div class="privateMessageCardBottomBox">
                                <input type="text" id="input-{{ .Id }}" placeholder="Type a message..." class="messageInput" onkeypress="specialChar(event, id); return false;">
                                <div class="sendButton" onclick="sendPrivateMessage('{{ .Id }}')">
                                    <i class="fa-solid fa-paper-plane plane"></i>
                                </div>
                            </div>

                        </div>

                    </div>
                {{ end }}

                <div class="closeDiv">
                    <div class="closeButtonDiv">
                        <i class="fa-solid fa-xmark cross"></i>
                    </div>
                </div>
                <div id="data" data-variable-username="{{ .User.Username }}" data-variable-id="{{ .User.Id }}" ></div>
            </div>

        </div>
    </div>

    <script> 
        function specialChar(event, id){
            var keyCode = event.which ? event.which : event.keyCode;
            var touche = String.fromCharCode(keyCode);
            var champ = document.getElementById(id);
            var caracteres = "abcdeéèfghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789_-?!.;,êî^ëï<>%$@ ";
            if(caracteres.indexOf(touche) >= 0) {
                champ.value += touche;
            }
        }
    </script>


    <script src="serv/js/websocket.js"></script>
    <script type="module" src="serv/js/style.js"></script>


</body>

</html>