{{ define "topicstmpl" }}

    <div id="data" data-variable-username="{{ .User.Username }}" data-variable-id="{{ .User.Id }}" ></div>


    {{ range .Topics}}
    <div class="topic">
     

            <div class="topic-content">
                <label>Title : {{ .Title }} </label>
                <p>Content : {{ .Content }}</p>
                <p>Category : {{ .Category.Name }}</p>
            </div>
            
            <div class="topicInfo">
                <div>
                    <div class="like" data-variable-topic-id="{{ .Id }}">
                        {{ if .Liked }}
                            <i class="fa-solid fa-heart heart heartAfter"></i>
                        {{ else }}
                            <i class="fa-solid fa-heart heart"></i>
                        {{ end }}
                        <p class="likeAmount">{{ .Like }}</p>
                    </div>
                    <div class="dislike" data-variable-topic-id="{{ .Id }}">
                        {{ if .Dislike }}
                            <i class="fa-solid fa-thumbs-down thumbDown thumbDownAfter"></i>
                        {{ else }}
                            <i class="fa-solid fa-thumbs-down thumbDown"></i>
                        {{ end }}
                        <p class="dislikeAmount">{{ .Dislike }}</p>
                    </div>
                    {{ if ne .Status "solved" }}
                    {{ else }}
                        <i class="fa-solid fa-check"></i>
                    {{ end }}

                </div>
                {{ if ne $.User.Id .User.Id }} 
                {{ else }}
                    <form action="/submit_remove_topic" method="post">
                        <input type="text" hidden value="{{ .Id }}" name="TopicID">
                        <button type="submit" class="fa-solid fa-xmark"> </button>
                    </form>
                {{ end }}

                <form action="/submit_topic" method="post">
                    <input type="text" hidden value="{{ .Id }}" name="TopicID">
                    <button type="submit" class="comments">
                    <i class="fa-solid fa-message commentIcon"></i>
                    <p class="commentsAmount">{{ len .Answers }}</p>
                </button>
                </form>
               
  
            </div>
        

    </div>
    {{ end }}

{{ end }}