{{ define "topictmpl" }}

    <div class="topicUser">
        <form action="/submit_back_topics" method="post"> 
            <button type="submit"> 
                <i class="fa-solid fa-arrow-left arrow"></i>
            </button>
        </form>
        <div class="topicUserPictureCointainer">
            <img class="topicUserPicture" src="{{ .Topic.User.ProfilePicture }}" alt="">
        </div>
        <p>{{ .Topic.User.Username }}</p>
    </div>

    <div class="alinea">

        <div class="topicTitle">
            <p>{{ .Topic.Title }}</p>
        </div>
        <div class="topicContent">
            <p> 
                {{ .Topic.Content }}
            </p>
        </div>
        <div class="topicReactions">
            
        </div>
        <div class="topicWriteAnswer">
            <input class="writeAnwerInput" type="text" placeholder="Add a comment...">
            <div class="sendComment">
                <p>Send</p>
            </div>
        </div>
        <div class="topicAnswers">
            <div id="messages">
                {{ range .Topic.Answers }}
                    <div class="topicAnswerDiv">
                        <p>{{ .User.Username }} : {{ .Content }}</p>
                    </div>
                {{ end }}
            </div>
            

        </div>

    </div>


{{ end }}